/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/learningBackground.jpg'); /* Нормальный фон */
    background-size: cover;
    background-position: center;
}
.nav-transparent, .html-old-questions-transparent {
    position: relative;
    margin: 20px auto;
    max-width: 800px;
    /*padding: 20px;*/
    background: rgba(255, 255, 255, 0.7); /* Прозрачный белый фон для текста */
    border-radius: 10px; /* Скруглённые углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Лёгкая тень */
}
.html-old-questions-transparent {
    max-width: 100%;
}


select{
    all: unset;
    padding: 10px;
    font-size: 16px;
}

.fieldSetWorkField {
    margin: 5px;
    font-size: 25px;
    line-height: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

.fieldSetWorkField legend{
    border: 1px solid black;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    font-size: 15px;
    line-height: 20px;
}

/* Адаптивный текст */
.text-wrap {
    font-size: 4vw; /* Базовый размер текста для адаптивности */
}

@media (max-width: 480px) {
    .text-wrap {
        font-size: 5vw; /* Увеличение текста для мобильных устройств */
    }
}

@media (min-width: 768px) {
    .text-wrap {
        font-size: 24px; /* Фиксированный размер текста для более крупных экранов */
    }
}

@media (orientation: portrait) {
    .text-wrap {
        font-size: 5vw; /* Увеличение текста в вертикальной ориентации */
    }
}

@media (orientation: landscape) {
    .text-wrap {
        font-size: 3vw; /* Уменьшение текста в горизонтальной ориентации */
    }
}

/* Стили для элементов с классами */
.clicked_element,
.question_old, 
.search_error, .history {
    border: 2px solid black;
    border-radius: 20px;
}

.search_error, .history {
    background-color: chocolate;
}

.search_error:hover, .history {
    background-color: rgb(142, 17, 8);
}

.search_error:active, .history {
    background-color: gray;
}

.search_error:focus, .history {
    background-color: yellow;
}

/* Стили для fieldset */
.class_fieldset {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
}

.fieldset-legend {
    color: black;
}

.log-accordion-header-error {
    color:red;
    font-weight: bold;
}
.log-accordion-header-ok {
    color:green;
    font-weight: bold;
}
.button_return_log {
    font-size: 18px;
}
.modal-body {
    text-align: left;
}
