.level-create-bonus-level {
    --level: 75%;
    --level-color: #66dd66;

    display: inline-block;
    position: relative;
    width: 6px;
    height: 1em;
    background: #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
    vertical-align: middle;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: var(--level);
        background: var(--level-color);
        transition: height .3s ease;
    }
}