.diament-view {
    display: flex; 
    // align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
    background-color: #f0f8ff; 
    border-bottom: 2px solid #dcdcdc;
    width: 100%;
    overflow-x: hidden;

      position: fixed;
      top: 0;
      left: 0;
      width: 100vw; /* или 100dvw — оба пойдут */
      z-index: 1000;

    > div:first-of-type {
        display: flex; 
        align-items: center;
        > span:first-of-type {
            font-size: 1.5rem; 
            color: #333; 
            margin-right: 8px;
        }
        > span:nth-of-type(2) {
            margin: 0 4px; 
            font-size: 1.5rem;
        }
    }
    div:nth-of-type(2) {
        button {
            font-size: 0.5em;
            border: 1 solid green;
            float: right;
            border-radius: 50px;
        }
    }
}