nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  // z-index: 999;
}

/* Когда меню закрыто */
.navbar-nav .nav-link {
  font-size: 1rem;
}

/* Когда меню открыто */
#navbarNav.show .nav-link {
  font-size: 1rem;
}

/* Элементы меню */
.navbar-nav {
  flex-wrap: wrap;
  white-space: normal;
  gap: 6px; /* чуть воздуха */
  justify-content: flex-end; /* эквивалент ms-auto */
}

.nav-item {
  display: flex;
  // align-items: center;
  justify-content: center;
  // padding: 6px 12px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgb(0, 11, 0);
  border-radius: 50px;
  height: 2rem;
  transition: background 0.2s ease;
}

.nav-item:hover {
  background: rgba(255, 255, 255, 0.35);
}

.nav-link {
  color: black;
  text-decoration: none;
}

/* Кнопка вопроса */
.button-help-nav {
  font-size: 1em;
  border: 2px solid rgb(0, 11, 0);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
}

/* Гамбургер */
.navbar-toggler-icon {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}