nav {
  // margin-top: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.btn {
  padding: 0px;
}

.navbar-nav {
  flex-wrap: wrap;
  white-space: normal;
}

.button-help-nav {
    font-size: 1em;
    border: 2 solid rgb(0, 11, 0);
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2); 
    float: left;
}

.nav-link {
  color:black;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
}

.nav-item {
  padding: 0px;
  height:30px;
  background: rgba(255, 255, 255, 0.2); 
  border: 1 solid rgb(0, 11, 0);
  border-radius: 50px;
}
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropbtn {
      color: rgb(8, 0, 0);
      padding: 10px 16px;
      border: 1px solid white;
      cursor: pointer;
      border-radius: 6px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      border-radius: 6px;
      z-index: 1;
    }

    .dropdown-content a {
      padding: 10px 14px;
      text-decoration: none;
      display: block;
    }

   .dropdown-content {
      display: block;
    }

.dropdown-toggle::after {
  display: none !important; /* полностью скрыть стрелку */
}

.navbar-toggler-icon {
  background: rgba(255, 255, 255, 0.4); 
  border-radius: 5px;
}