@use './nav/resetStylesForSelect.scss';
@use './nav/fontSizeForContens.scss';

nav {
  width: 100%;
}

/* Элементы меню */
.navbar-nav {
  flex-wrap: wrap;
  white-space: normal;
  gap: 6px; /* чуть воздуха */
  justify-content: flex-end; /* эквивалент ms-auto */
}

.nav-item {
  position: relative; /* создаёт контекст для абсолютных потомков */
  z-index: 1; /* чтобы каждый nav-item был над nav */
}

.nav-item .modal {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000; /* выше других элементов меню */
  background: rgba(255, 255, 255, 0.95); /* или твоя прозрачность */
  backdrop-filter: blur(4px);
  border-radius: 12px;
  padding: 1rem;
  pointer-events: auto; /* чтобы клики ловились именно модалкой */
}

.nav-link {
  text-decoration: none;
}

/* Кнопка вопроса */
.button-help-nav {
  font-size: 1em;
  border: 2px solid rgb(0, 11, 0);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
}

/* Гамбургер */
.navbar-toggler-icon {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 5px;
}