nav {
  width: 100%;
}

/* Когда меню закрыто */
// .navbar-nav .nav-link {
//   font-size: 1rem;
// }

.nav-link > select {
  appearance: none;           /* убирает нативный стиль (Chrome, Safari, Opera) */
  -webkit-appearance: none;   /* для WebKit-браузеров */
  -moz-appearance: none;      /* для Firefox */
  
  background: transparent;    /* убирает фон */
  border: none;               /* убирает рамку */
  outline: none;              /* убирает контур при фокусе */
  
  font: inherit;              /* наследует шрифт от родителя */
  color: inherit;             /* наследует цвет текста */
  
  padding: 0;                 /* обнуляет внутренние отступы */
  margin: 0;                  /* обнуляет внешние отступы */
  
  cursor: pointer;            /* делает курсор “рукой” */
  line-height: normal;
}

@media (max-width: 575px) {
  #navbarNav.show .nav-link{
    font-size: 2rem;
    transition: font-size 0.5s ease;
  }
}

@media (min-width: 576px) {
  .navbar-nav .nav-link{
    font-size: 1rem;
    transition: font-size 0.5s ease;
  }
}

@media (max-width: 575px) {
  #navbarNav.show .nav-link select{
    font-size: 2rem;
    transition: font-size 0.5s ease;
  }
}

@media (min-width: 576px) {
  .navbar-nav .nav-link select{
    font-size: 1rem;
    transition: font-size 0.5s ease;
  }
}


/* Когда меню открыто */
// #navbarNav.show .nav-link {
//   font-size: 2rem;
//   font-weight: bold;
//   transition: font-size 0.5s ease;
// }

/* Элементы меню */
.navbar-nav {
  flex-wrap: wrap;
  white-space: normal;
  gap: 6px; /* чуть воздуха */
  justify-content: flex-end; /* эквивалент ms-auto */
}

.nav-item {
  position: relative; /* создаёт контекст для абсолютных потомков */
  z-index: 1; /* чтобы каждый nav-item был над nav */
}

.nav-item .modal {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000; /* выше других элементов меню */
  background: rgba(255, 255, 255, 0.95); /* или твоя прозрачность */
  backdrop-filter: blur(4px);
  border-radius: 12px;
  padding: 1rem;
  pointer-events: auto; /* чтобы клики ловились именно модалкой */
}


.nav-link {
  // color: black;
  text-decoration: none;
}

/* Кнопка вопроса */
.button-help-nav {
  font-size: 1em;
  border: 2px solid rgb(0, 11, 0);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
}

/* Гамбургер */
.navbar-toggler-icon {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}