.working-field {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-weight: bold;
    padding: 10px 10px;
}

    .fieldSetWorkField {
        font-size: 25px;
        line-height: 30px;
        border-radius: 10px;
        width: 100%; 
        margin: auto; 
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }    

    .fieldSetWorkField legend{
        border: 1px solid black;
        border-top-left-radius:8px;
        border-top-right-radius:8px;
        font-size: 15px;
        line-height: 20px;
    }

    .card {
        background-color: rgba(255, 255, 255, 0.1) !important; 

        .card-body{
            width: 100%; 
        }
    }

    .working-field-button-translate{
        width: 100%;
        border: 1px solid;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        padding: 10px 10px;
    }

    .init-word-assembly-str-start {
        width: auto;
        // border-radius: 10px;
        // float:left;
        margin-left: 5px;
        // float:left;
        padding: 10px 10px;
        margin: 10px 10px;
    }

    .button-word {
        display:block;
        width: auto;
    }
