.help-for-program-ru {
    display: block; 
    background-color: rgba(0,0,0,0.5);
    div {
        max-width: 600px; 
        margin: 10% auto;
        div {
            border-radius: 12px; 
            padding: 20px; 
            font-family: sans-serif;
            > div:first-of-type {
                color: #333;
                h5 {
                    margin-bottom: 16px;
                }
            }
            > div:nth-of-type(3) {
                border-top: none; 
                text-align: right;
            }
        }
    }
}