/* Основные стили */
html, body {
    font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.nav-transparent {
    position: relative;
    margin: auto;
    width: 90vw;
    max-width: 800px;
    border-radius: 10px;
}

select{
    all: unset;
    padding: 10px;
    font-size: 16px;
}

/* Адаптивный текст */
.text-wrap {
    font-size: 4vw; /* Базовый размер текста для адаптивности */
}

@media (max-width: 480px) {
    .text-wrap {
        font-size: 5vw; /* Увеличение текста для мобильных устройств */
    }
}

@media (min-width: 768px) {
    .text-wrap {
        font-size: 24px; /* Фиксированный размер текста для более крупных экранов */
    }
}

@media (orientation: portrait) {
    .text-wrap {
        font-size: 5vw; /* Увеличение текста в вертикальной ориентации */
    }
}

@media (orientation: landscape) {
    .text-wrap {
        font-size: 3vw; /* Уменьшение текста в горизонтальной ориентации */
    }
}

/* Стили для fieldset */
.class_fieldset {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
}

.fieldset-legend {
    color: black;
}

.log-accordion-header-error {
    color:red;
    font-weight: bold;
}
.log-accordion-header-ok {
    color:green;
    font-weight: bold;
}
.button_return_log {
    font-size: 18px;
}
.modal-body {
    text-align: left;
}

/*кнопки light, normal, hard*/
.btn-custom-yellow, .btn-custom-yellow-active,
.btn-custom-blue, .btn-custom-blue-active,
.btn-custom-white, .btn-custom-white-active,
.btn-custom-help, .btn-custom-help-big {
    margin-top: 15px;
}


/*пузырь*/
.diamond {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 34px;
    animation: flyUp 4.5s ease-out forwards;
  }
  
  .score {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 34px;
    font-weight: bold;
    color: #0d8e7b;
    text-shadow: 0 0 8px #00ffff, 0 0 12px #00ffff;
    opacity: 1;
    animation: floatUp 4.5s ease-out forwards, glow 1s infinite alternate;
  }
  
  @keyframes flyUp {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-100px); opacity: 0; }
  }
  
  @keyframes floatUp {
    0% { transform: translateX(-50%) translateY(0); opacity: 1; }
    100% { transform: translateX(-50%) translateY(-40px); opacity: 0; }
  }
  
  @keyframes glow {
    0% { text-shadow: 0 0 8px #00ffff, 0 0 12px #00ffff; }
    100% { text-shadow: 0 0 12px #00ffcc, 0 0 16px #00ffcc; }
  }

/* Клад*/
.scarb {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 34px;
    animation: flyUp2 8s ease-out forwards;
  }
  
  @keyframes flyUp2 {
    0% { transform: translateY(0); opacity: 1; }
    90% { opacity: 1; } /* Дольше остаётся видимым */
    100% { transform: translateY(-100px); opacity: 0; }
  }
   
  @keyframes glow {
    0% { text-shadow: 0 0 8px #00ffff, 0 0 12px #00ffff; }
    100% { text-shadow: 0 0 12px #00ffcc, 0 0 16px #00ffcc; }
  }
  
  .bonus-for-scarb {
    position: absolute;
  }

.text-about-scarb {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #0f1899; /* Красивый оранжевый */
    animation: fadeGrow 2s ease-out forwards;
}

@keyframes fadeGrow {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3); /* Увеличение в 2 раза */
        opacity: 0; /* Полностью исчезает */
    }
}



/* стиль для прокручивания модального окна в объекте Help */
.help-for-green-pole-one {
    max-height: 80vh; /* Максимальная высота 80% от высоты экрана */
    margin: 0 auto;
    overflow-y: auto;
}

/*general style for menu tests*/
.ul-for-menu {
    list-style: none; 
}

