// Стили для меню выбора теста или настроек

.li-menu-2, .li-menu-1, .li-menu-3 {
    width: 80%;
    height: 130px;
    margin-top: 10px;
    .style-for-item-one {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.0); /* белый с прозрачностью */
    }

    .style-for-item-two {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.0); /* белый с прозрачностью */
    }

    .style-for-item-start {
        width: 100%;
        height: 100%;
        padding: 24px;
        font-family: sans-serif;
        color:rgb(5, 48, 85);
        font-size: 25px;
    }
}

.li-menu-4 {
    
    margin-top: 10px;
    width: 100%;
    /* Нечётные (1, 3, 5...) */
    &:nth-child(odd) {
      background-color: #bbe6f9;
    }    

    /* Чётные (2, 4, 6...) */
    &:nth-child(even) {
      background-color: #75b8f0;
    }
    .style-for-item-start {
        border-radius: 10px 100px / 120px;
        border: 0px;
        width: 100%;
        font-family: sans-serif;
        font-size: 25px;
        text-align: left;
    }
}

.ul-for-menu li{
    position: relative;
    list-style: none; 
    border-radius: 10px 100px / 120px;
    border: 2px solid black;
    background-size: cover; /* картинка растягивается на весь экран */
    background-repeat: no-repeat; /* не повторяется */
    background-position: center; /* по центру */
}

.li-menu-count-1 {
      background-image: url('images/food100.jpg'); /* путь к картинке */
}
.li-menu-count-2 {
      background-image: url('images/sport100.jpg'); /* путь к картинке */
}
.li-menu-count-3 {
      background-image: url('images/travel100.jpg'); /* путь к картинке */
}
.li-menu-count-4 {
      background-image: url('images/words100.jpg'); /* путь к картинке */
}
.li-menu-count-5 {
      background-image: url('images/words300.jpg'); /* путь к картинке */
}
.li-menu-count-6 {
      background-image: url('images/words500.jpg'); /* путь к картинке */
}
.li-menu-count-7 {
      background-image: url('images/verbs50.jpg'); /* путь к картинке */
}
.li-menu-count-8 {
      background-image: url('images/verbs300.jpg'); /* путь к картинке */
}
.li-menu-count-9 {
      background-image: url('images/toBe.jpg'); /* путь к картинке */
}
.li-menu-count-10 {
      background-image: url('images/toBeQuestions.jpg'); /* путь к картинке */
}
.li-menu-count-11 {
      background-image: url('images/toBeAnswer.jpg'); /* путь к картинке */
}
.li-menu-count-12 {
      background-image: url('images/questionsWords.jpg'); /* путь к картинке */
}
.li-menu-count-13 {
      background-image: url('images/presentContinuous.jpg'); /* путь к картинке */
}
.li-menu-count-14 {
      background-image: url('images/presentContinuousQuestions.jpg'); /* путь к картинке */
}
.li-menu-count-15 {
      background-image: url('images/presentSimple.jpg'); /* путь к картинке */
}
.li-menu-count-16 {
      background-image: url('images/presentSimpleAlways.jpg'); /* путь к картинке */
}
.li-menu-count-17 {
      background-image: url('images/presentSimpleNegative.jpg'); /* путь к картинке */
}
.li-menu-count-18 {
      background-image: url('images/presentSimpleQuestions.jpg'); /* путь к картинке */
}
.li-menu-count-19 {
      background-image: url('images/psOrPc.jpg'); /* путь к картинке */
}
.li-menu-count-20 {
      background-image: url('images/irregular2.jpg'); /* путь к картинке */
}
.li-menu-count-21 {
      background-image: url('images/ihavegot.jpg'); /* путь к картинке */
}
.li-menu-count-22 {
      background-image: url('images/textBeginnerA1.jpg'); /* путь к картинке */
}
.li-menu-count-23 {
      background-image: url('images/waswere.jpg'); /* путь к картинке */
}
.li-menu-count-29 {
      background-image: url('images/testtask.jpg'); /* путь к картинке */
}
.li-menu-count-30 {
      background-image: url('images/help.jpg'); /* путь к картинке */
}
.li-menu-count-31 {
      background-image: url('images/pastsimple.jpg'); /* путь к картинке */
}
.li-menu-count-32 {
      background-image: url('images/pastsimplenegativeorquestion.jpg'); /* путь к картинке */
}
.li-menu-count-33 {
      background-image: url('images/presentSimpleHeSheIt.jpg'); /* путь к картинке */
}
.li-menu-count-34 {
      background-image: url('images/pastContinuous.jpg'); /* путь к картинке */
}
.li-menu-count-35 {
      background-image: url('images/pastContinuousOrPastSimple.jpg'); /* путь к картинке */
}

.li-menu-count-36 {
      background-image: url('images/irregular3.jpg'); /* путь к картинке */
}
.li-menu-count-37 {
      background-image: url('images/presentperfect.jpg'); /* путь к картинке */
}
.li-menu-count-38 {
      background-image: url('images/PPPSPC.jpg'); /* путь к картинке */
}
.li-menu-count-39 {
      background-image: url('images/forsinceago.jpg'); /* путь к картинке */
}
.li-menu-count-40 {
      background-image: url('images/PsAndPs.jpg'); /* путь к картинке */
}
.li-menu-count-41 {
      background-image: url('images/animals100.jpg'); /* путь к картинке */
}
.li-menu-count-42 {
      background-image: url('images/passive1.jpg'); /* путь к картинке */
}
.li-menu-count-43 {
      background-image: url('images/isbeingdone.jpg'); /* путь к картинке */
}
.li-menu-count-44 {
      background-image: url('images/behavedoPr.jpg'); /* путь к картинке */
}

.for-h4-header-button{
      position: absolute;
      top: -10px;           /* смещение вверх (можно +, можно -) */
      left: 10px;           /* смещение от левого края */
      margin: 0;
      padding: 5px 10px;
      background: rgba(0,0,0,0.6);
      color: #fff;
      border-radius: 6px;
      font-size: 15px;
}


