.addForBackground {
      animation: bg-pan-horizontal 240s linear infinite alternate;
}

@keyframes bg-pan-horizontal {
  0%   { background-position: 50% center; }
  50%  { background-position: 0% center; }
  100% { background-position: 100% center; }
}