.returnLevel40 {
    background-color: rgba(255,255,255,1) !important; 
    text-align:left;
    ul {
        list-style-type: none;
        padding-left: 10px;
    }
    h3 {
        background-color: #007bff; 
        color: white; 
        font-weight: bold;
    }
    p {
        font-weight: bold; 
        color: #333;
    }
}